<h1>Booking info</h1>

<div> 
   Flight Id: <%= @booking.flight_id %>
      <% @booking.passengers.each do |p| %>
        <li>
          Name: <%= p.name %> (Email: <%= p.email %>)
        </li>
      <% end %> 
</div>